<?php

/**
 * Tests config file
 * 
 * @author      Joe Stump <joe@joestump.net>
 * @package     Services_Twitter
 */

// Uncomment the following code and add the correct information. All tests 
// will fail if you do not enter this information.
// $user = 'XXXXXXX';
// $pass = 'ZZZZZZZ';

// Uncomment the following line of code to test direct messaging. You MUST
// be friends with this username. Also, make sure to give them a heads up 
// before you start willy nilly sending them a bunch of test messages. Should
// be a valid username or id.
// $aFriendOfMine = 'XXXXXXX';

// Uncomment the following line of code to test the destruction of direct 
// messages. You must put a direct message that was sent to $user above.
// !!!WARNING!!! This direct message WILL be deleted permanently from Twitter!
// $directMessageToDelete = '';

set_include_path(realpath(dirname(__FILE__) . '/../') . ':' . get_include_path());

if (!isset($user) || !strlen($user) || !isset($pass) || !strlen($pass)) {
    die("Please set your username / password in the tests config file\n");
}

?>
