<?php

/* vim: set expandtab tabstop=4 shiftwidth=4 softtabstop=4: */

/**
 * Tests configuration file.
 *
 * PHP version 5.1.0+
 *
 * @category  Services
 * @package   Services_Twitter
 * @author    Joe Stump <joe@joestump.net> 
 * @author    David Jean Louis <izimobil@gmail.com> 
 * @copyright 1997-2008 Joe Stump <joe@joestump.net> 
 * @license   http://www.opensource.org/licenses/bsd-license.php New BSD License
 * @version   SVN: $Id$
 * @link      http://twitter.com/help/api
 * @link      http://twitter.com
 */


/**
 * This is the test config array.
 * If you want to test "live" against twitter server, set theses values to
 * something real and rename this file to tests-config.php.
 */
$config = array(
    'user'      => 'test_user',
    'pass'      => 'test_password',
    'email'     => 'test@example.com',
    'friend'    => 'test_friend',
    'status_id' => 100000,
    'live_test' => true,
);
