<?php

/* vim: set expandtab tabstop=4 shiftwidth=4 softtabstop=4: */

/**
 * Tests configuration file.
 *
 * PHP version 5.1.0+
 *
 * @category  Services
 * @package   Services_Twitter
 * @author    Joe Stump <joe@joestump.net> 
 * @author    David Jean Louis <izimobil@gmail.com> 
 * @copyright 1997-2008 Joe Stump <joe@joestump.net> 
 * @license   http://www.opensource.org/licenses/bsd-license.php New BSD License
 * @version   SVN: $Id$
 * @link      http://twitter.com/help/api
 * @link      http://twitter.com
 */

// Uncomment this to run tests "live" against Twitter servers
// $live = true;

// Uncomment the following code and add the correct information. All live
// tests will fail if you do not provide this information.
// CAUTION: tests will do various things with this account, and change various 
// settings, so you'd better use an account dedicated to testing
// $user = 'XXXXXXX';
// $pass = 'ZZZZZZZ';

// Uncomment the following line of code to test direct messaging. You MUST
// be friends with this username. Also, make sure to give them a heads up 
// before you start willy nilly sending them a bunch of test messages. Should
// be a valid username or id.
// $aFriendOfMine = 'XXXXXXX';

// A status ID
$statusID = 789673391;

set_include_path(realpath(dirname(__FILE__) . '/../') . ':' . get_include_path());

if (!isset($user) || !strlen($user) || !isset($pass) || !strlen($pass)) {
    die("Please set your username / password in the tests config file\n");
}
